svg {
  width: 2rem;
  height: 2rem;
  fill: #fff !important;
}
.navbar-brand {
  padding-left: 1rem;
}
img {
  border-radius: 0.25rem;
}
.log {
  height: 300px;
  width: 100%;
}
.form-item {
  margin: 1rem 0;
}
.navy {
  /*
    https://uigradients.com/#Stripe
  */
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #a6ffcb, #12d8fa, #1fa2ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
