svg {
  width: 2rem;
  height: 2rem;
  fill: #00D1B2!important;
}
.navbar-brand {
  padding-left: 1rem;
}
img {
  border-radius: 0.25rem;
}
.log {
  height: 300px;
  width: 100%;
}
.form-item{
  margin: 1rem 0;
}
.navbar {
  border-bottom: 1px solid #00D1B2;
}